<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.foo.Bar" level="trace">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="io.github.jlmc.kafka4u.es" level="DEBUG"/>
        <Logger name="io.github.jlmc.kafka4u.commons" level="INFO"/>
        <Logger name="org.apache.kafka" level="INFO"/>
    <!--    <Logger name="io.netty" level="ERROR"/>

        <Logger name="io.vertx" level="INFO"/>-->
    </Loggers>
</Configuration>